<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="thempb" action="../Controller/C_StaffDepartment.php" method="post">
        <table>
            <tr>
                <td>
                    <label>IDPB</label>
                </td>
                <td>
                    <input type="text" name="IDPB">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Tên phòng ban</label>
                </td>
                <td>
                    <input type="text" name="Tenpb">
                </td>
            </tr>
            <tr>
                <td>
                     <label>Mô tả</label>
                </td>
                <td>
                <input type="text" name="Mota">
                </td>
            </tr>

        </table>
        <div>
            <button type="submit" name="thempb">OK</button>
            <input type="reset">
            <input type="button" onclick="history.back();" value="Back">
        </div>
    </form>
</body>
</html>