<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="themnhanvien" action="../Controller/C_StaffDepartment.php" method="post">
        <table>
            <tr>
                <td>
                    <label>IDNV</label>
                </td>
                <td>
                    <input type="text" name="IDNV">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Họ tên</label>
                </td>
                <td>
                    <input type="text" name="Hoten">
                </td>
            </tr>
            <tr>
                <td>
                    <label>IDPB</label>
                </td>
                <td>
                    <select name="IDPB">
                        <?php
                            $i = 0;
                            while($i < sizeof($listIDPB)) {
                                echo '<option value="' .$listIDPB[$i] .'">' .$listIDPB[$i] . '</option>';
                                $i++;
                            }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                     <label>Địa chỉ</label>
                </td>
                <td>
                <input type="text" name="Diachi">
                </td>
            </tr>

        </table>
        <div>
            <button type="submit" name="add">OK</button>
            <input type="reset">
        </div>
    </form>
</body>
</html>