<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Login</h1>
    </center>
    <form name="f1" action="../Controller/C_StaffDepartment.php" method="post">
        <center>
            <table>
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="password">
                    </td>
                </tr>
            </table>

            <div>   
                <button name="login" type="submit"> OK </button>
                <input type="reset" name="butReset"></input>
            </div>

        </center>

    </form>
</body>
</html>