<html>
    <head>
    </head>
    <body>
        <style>
            a{
                text-decoration: none;
                text-align: center;
            }
        </style>
        <table>
            <tr>
                <td>
                    <a href="../Controller/C_StaffDepartment.php?LoginPage='1'" id=""  target="frame3">Dang nhap</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../Controller/C_StaffDepartment.php?viewStaff='1'" id=""  target="frame3">Xem</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../Controller/C_StaffDepartment.php?viewDetails='1'" id="" target="frame3">Xem va liet ke</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../Controller/C_StaffDepartment.php?searchStaff='1'" id="" target="frame3">Tim kiem</a>
                </td>
            </tr>

        </table>
    </body>
</html>