<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" width="100%">
        <caption>Du lieu bang nhan vien phong ban</caption>
        <tr>
            <th>IDNV</th>
            <th>Ho ten</th>
            <th>IDPB</th>
            <th>Dia chi</th>
        </tr>
        <?php
            if($staffDepart!=null)
            {
                for($i = 0; $i < sizeof($staffDepart); $i++) {
                    echo '<tr><td>'. $staffDepart[$i]->IDNV .'</td><td>'.$staffDepart[$i]->Hoten.'</td><td>'.$staffDepart[$i]->IDPB.'</td><td>'.$staffDepart[$i]->Diachi.'</td></tr>';
                }
        
            }
           
        ?>
    </table>
    
</body>
</html>